

.divLog_on {
    float: left;
    padding: 50px;
    background-color:ghostwhite;
    width:450px;
    height:450px;
}

.divRegister {
    float: right;
    padding: 50px;
    background-color: ghostwhite;
    width: 450px;
    height: 450px;
}

.clearRegister{
    clear:both;
}
#navbar1 {
    display: inline-block;
}
#personalcenter {
    position: relative;
    float: right;
}

#dropdownbutton_shopcart {
    position: relative;
    float: right;
}
.clearfloat {
    clear: both;
}