

.divLog_on {
    float: left;
    padding: 50px;
    background-color:ghostwhite;
    width:450px;
    height:450px;
}

.divRegister {
    float: right;
    padding: 50px;
    background-color: ghostwhite;
    width: 450px;
    height: 450px;
}

.clearRegister{
    clear:both;
}