

.divRegister2 {
    float: left;
    padding:30px;
    width: 550px;
    height: 700px;
    background-color: ghostwhite;
}

.RegisterErrors {
    display: none;
}

.clearRegister2 {
    clear: left;
}
